.ghx-extra-fields,
.ghx-type,
.ghx-heading-expander,
.ghx-swimlane-avatar,
.ghx-issue .ghx-card-footer .ghx-type,
.ghx-issue .ghx-card-footer .ghx-flags,
.ghx-issue .ghx-card-footer .ghx-end,
#js-quickfilters-label,
#panel-results,
#panel-runsreferences,
#panel-references,
#tempo-issue-view-panel,
#logo,
.ghx-priority[title~="Empty"],
.ghx-statistic-badge,
{
  display: none;
}


a.js-detailview {
  margin-right: 10px;
}

.ghx-heading > .ghx-summary {
  font-size: 16px;
  font-weight: 500;
  color: black;
  order: 1;
}

 .ghx-info {
  order: 2;
  margin-left: auto !important;
}

.ghx-description {
  display: inline-block;
  width: 85px;
  margin-left: 10px;
  text-align: right;
}

.ghx-info span:first-child {
  width: 50px;
  display: inline-block;
}

.js-quickfilter-button {
  color: #ccc;
}

.aui-sidebar,
#header {
  opacity: .2;
  transition: 0.3s;
}

.aui-sidebar:hover,
#header:hover {
  opacity: 1;
}

.aui-style,
.aui-header .aui-dropdown2-trigger:hover, 
.aui-header .aui-dropdown2-trigger:focus, 
.aui-header .aui-dropdown2-trigger.active {
  background-color: #0065ff !important;
}

/* Christmas version */
/* a {
  color: #27ae60 !important;
}

.ghx-selected {
  background: #27ae60 !important;
}

.ghx-swimlane ul.ghx-columns li.ghx-column {
  background-repeat: repeat !important;
  background-size: 250px 250px;
  background-image: url('http://u.lillefar.dk/yPlg70+') !important;
} */